{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'macros.html' import represent_rate_with_star %}
{% block title %}{{ photo.author.name }}'s Photo{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rating_star.css') }}">
    <style type="text/css">
        .dropdown-menu.show{
            transform: none !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="photo">
                <a href="{{ url_for('.get_image', filename=photo.filename) }}" target="_blank">
                    <img class="img-fluid" src="{{ url_for('.get_image', filename=photo.filename_m) }}">
                </a>
            </div>
            <a class="btn btn-primary btn-sm text-white" data-toggle="modal" data-target="#share-modal">Share</a>
            {% if current_user == photo.author or current_user.can('MODERATE') %}
                <a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#confirm-delete"
                   data-href="{{ url_for('.delete_photo', photo_id=photo.id) }}">Delete</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user != photo.author %}
                <form class="inline" method="post" action="{{ url_for('.report_photo', photo_id=photo.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-link btn-sm">Report</button>
                </form>
            {% endif %}
            {% if invite and current_user.role.name == 'Doctor'%}
                <form class="inline" method="post" action="{{ url_for('.accept_hire_request',invite_id = invite.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">         
                    <button type="submit" class="btn btn-secondary btn-sm" > Accept Hire</button>
                    <select class="form-control" style="display: inherit;width: auto;" name="payment_method"> 
                        <option value="manual"> Manual Payment </option>
                        <option value="auto"> Auto Payment </option>
                    </select>    
                </form>

            {% endif %}
            <p class="text-muted float-right small">
                <span class="oi oi-clock"></span> Upload at {{ moment(photo.timestamp).format('LL') }}
            </p>
            {% include 'main/_comment.html' %}
        </div>
        <div class="col-md-4">
            {% include 'main/_photo_sidebar.html' %}
        </div>
    </div>
    <!-- share modal -->
    <div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareModalLabel">Permalink</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body w-100">
                    <input class="form-control" value="{{ url_for('.show_photo', photo_id=photo.id, _external=True) }}"
                           readonly>
                </div>
            </div>
        </div>
    </div>
    <!-- delete confirm modal -->
    {% if current_user.is_authenticated %}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Delete Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this item?</p>
                    </div>
                    <div class="modal-footer">
                        <form class="delete-form" action="" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-danger btn-confirm" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        function star_changed(e){
            console.log(e.checked);
            var form_footer = e.parentElement.nextElementSibling;
            if(e.checked == true)
                $(form_footer).removeClass('display-none');
            else
                $(form_footer).addClass('display-none');
        }
        function reset_form(e){
            var form = e;
            var form_footer = $(e).find('.form-footer').addClass('display-none');
        }
        function show_rate_form(e){
            var par = $(e).parent();
            par.addClass('display-none');
            par.next().removeClass('display-none');
        }
    </script>
    <script type="text/javascript">
        var current_pos = null;
        var rad = function(x) {
          return x * Math.PI / 180;
        };

        var getDistance = function(p1, p2) {
          console.log(p1);
          console.log(p2);
          var R = 6378137; // Earth’s mean radius in meter
          var dLat = rad(p2.lat - p1.lat);
          var dLong = rad(p2.lng - p1.lng);
          var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) *
          Math.sin(dLong / 2) * Math.sin(dLong / 2);
          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
          var d = R * c;
          return d; // returns the distance in meter
        };
        function calc_distances(){
            if(current_pos != null){
                $('.distance').each(function(i, obj) {
                    if(obj.getAttribute('lat') && obj.getAttribute('lng')){
                        var dst_pos = {lat:Number(obj.getAttribute('lat')),lng:Number(obj.getAttribute('lng'))};
                        var distance = getDistance(current_pos,dst_pos);    // meter value                    
                        distance = (distance/1000).toFixed(2); //km value
                        obj.innerHTML = distance + "KM";
                    }
                    //test

                });            
            }
        }
    </script>

    <script type="text/javascript">
        var err_msg="Unknown Error";
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                current_pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                calc_distances();
              }, function() {
                    handleLocationError(true);
                }
            );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false);
        }

        function handleLocationError(browserHasGeolocation) {
            console.log(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            err_msg = browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.';
        }
        function show_map(dst_lng,dst_lat){
          if(current_pos!=null){
            // var saddr = current_pos.lat + ","  + current_pos.lng;
            var saddr="34.406676, 132.473370";
            var daddr = dst_lat + ","  + dst_lng;
            window.open('http://maps.google.com/maps?saddr=' +saddr + '&daddr=' + daddr , '_blank');
          }else{
            alert(err_msg)
          }
          
        }
    </script>

{% endblock %}